In [1]:
# Import dependancies
import requests
import json
import pandas as pd
from pprint import pprint

In [2]:
url = "http://asterank.com/api/asterank?query=" 
response = requests.get(url + '{"price":{"$gt":1500}}&limit=1000').json()

df = pd.DataFrame(response)
df = df.sort_values(by = 'price' , ascending = False)

In [3]:
df.columns

Index(['sigma_tp', 'diameter', 'sigma_q', 'epoch_mjd', 'ad', 'producer', 'rms',
       'H_sigma', 'closeness', 'spec_B', 'K2', 'K1', 'M1', 'two_body',
       'full_name', 'M2', 'sigma_per', 'equinox', 'DT', 'diameter_sigma',
       'saved', 'albedo', 'moid_ld', 'pha', 'neo', 'sigma_ad', 'PC', 'profit',
       'est_diameter', 'sigma_w', 'sigma_i', 'per', 'id', 'A1', 'data_arc',
       'A3', 'score', 'per_y', 'sigma_n', 'epoch_cal', 'orbit_id', 'sigma_a',
       'sigma_om', 'A2', 'sigma_e', 'condition_code', 'rot_per', 'prov_des',
       'G', 'last_obs', 'H', 'price', 'IR', 'spec_T', 'epoch', 'n_obs_used',
       'moid', 'extent', 'dv', 'e', 'GM', 'tp_cal', 'pdes', 'class', 'UB', 'a',
       't_jup', 'om', 'ma', 'name', 'i', 'tp', 'prefix', 'BV', 'spec', 'q',
       'w', 'moid_jup', 'n', 'sigma_ma', 'first_obs', 'n_del_obs_used',
       'spkid', 'n_dop_obs_used'],
      dtype='object')

In [4]:
neo_df = df[['full_name', 'spec' , 'class' , 'ad' , 'q' , 'a' , 'e' , 'dv' ,'per' , 'price' , 'profit' , 'moid' , 'diameter']]

## Headers

spec = spectral type

ad = aphelion distance (AU)

q = perihelion (AU)

a = semi-major axis (AU) => (longest diameter from its obit)

e = eccentricity

dv = delta-velocity

per = period => (how long for 1 revolution around the sun)

moid = minimum orbit intersection distance

In [6]:
neo_df

,full_name,spec,class,ad,q,a,e,dv,per,price,profit,moid,diameter
995,511 Davida (1903 LU),C,MBA,3.760305,2.569456,3.164880,0.188135,11.144603,2056.526820,1.538263e+19,1.064011e+18,1.593070,270.327
994,334 Chicago (1892 L),C,OMB,3.981728,3.798870,3.890299,0.023502,11.703702,2802.676341,6.115258e+18,4.009727e+17,2.782950,198.77
993,702 Alauda (1910 KQ),B,MBA,3.247375,3.137278,3.192327,0.017244,12.757615,2083.336507,5.408989e+18,3.264933e+17,2.120800,190.98
992,423 Diotima (1896 DB),C,MBA,3.176470,2.956412,3.066441,0.035882,11.224330,1961.328629,4.235026e+18,2.908848e+17,1.942490,175.859
991,372 Palma (1893 AH),B,MBA,3.966001,2.334280,3.150141,0.258992,11.987880,2042.176736,4.065526e+18,2.615080e+17,1.446870,173.642
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,96 Aegle,T,MBA,3.479834,2.621945,3.050889,0.140597,NaN,1946.427065,6.196000e+04,3.981251e+03,1.641370,177.774
3,(2001 UU92),T,AMO,5.287454,1.053954,3.170704,0.667596,7.286746,2062.205995,3.814231e+04,4.300143e+03,0.118818,
2,(2001 YE1),T,APO,2.870736,0.954085,1.912410,0.501109,5.905332,965.984260,1.450130e+04,2.547227e+03,0.059394,
1,(2001 SG286),D,APO,1.829700,0.886638,1.358169,0.347181,5.640122,578.134644,2.420770e+03,4.868816e+02,0.005336,
0,(2002 AT4),D,AMO,2.700043,1.033903,1.866973,0.446214,5.557219,931.763080,1.599387e+03,3.344928e+02,0.042987,

In [8]:
neo_df.to_csv("resources/asteroid.csv")